# Criação

In [1]:
lista = [10, 11, 12]
lista[0]

# Key: value
dicio = {'nome': 'João',  # Hardcoded
         'idade': 25}

dicionario = dict()
dicionario = {}
type(dicionario)

dicionario = dict([(1, 'João'), (2, 'Maria'), (3, 'José')])
dicionario = {1: 'João', 2: 'Maria', 3: 'José'}
dicionario

{1: 'João', 2: 'Maria', 3: 'José'}

In [51]:
lista = [x for x in range(10)]
lista
nomes = ['João', 'Maria', 'José']
idades = [25, 30, 35]

dicio = dict((zip(nomes, idades)))


def quadrado(x):
    return x*x


dicio = {k: {quadrado(v): v} for k, v in zip(nomes, idades)}
dicio2 = {v: k for k, v in zip(nomes, idades)}
dicio2

{25: 'João', 30: 'Maria', 35: 'José'}

In [53]:
dicio3 = {v: k for k, v in dicio2.items()}
dicio3

{'João': 25, 'Maria': 30, 'José': 35}

In [2]:
dicio

dicio["nome"]

'João'

# Operações

In [29]:
dicio_a = {'nome': 'João', 'idade': 25}
dicio_b = {'nome2': 'Maria', 'idade2': 30}

# dicio_a+dicio_b # Error
# dicio_a*3 #Error

In [25]:
dicio_c = {}
for k1, v1 in dicio_a.items():
    print(k1, v1)
    dicio_c[k1] = v1

for k2, v2 in dicio_b.items():
    print(k2, v2)
    dicio_c[k2] = v2

dicio_c

nome João
idade 25
nome2 Maria
idade2 30

{'nome': 'João', 'idade': 25, 'nome2': 'Maria', 'idade2': 30}

In [34]:
dicio_c = {**dicio_a, **dicio_b}
dicio_c

dicio_c = {}
dicio_c.update({'abc': 123})
dicio_c.update(dicio_b)
dicio_c

{'abc': 123, 'nome2': 'Maria', 'idade2': 30}

# Preencher

In [17]:
dicio['a'] = 1.88
dicio['a'] = 2.01
dicio['A'] = 2.01
dicio['a'] += .10

idades = [('João', 25), ('Maria', 30), ('José', 20)]
for n, i in idades:
    nome = n
    idade = i
    if nome == 'José':
        print(idade)
        break

idades = {'João': 25, 'Maria': 30, 'José': 20}
idades['José']

{'nome': 'João', 'idade': 25, 'a': 2.11, 'A': 2.01}

In [18]:
dicio2 = {(1, 2): 'João', (2, 3): 'Maria', (3, 4): 'José'}
dicio2

{(1, 2): 'João', (2, 3): 'Maria', (3, 4): 'José'}

In [ ]:
carros = {('gol', 'verde'): 0, ('peugeot', 'preto'): 1, ('fiat', 'branco'): 2}

In [24]:
contatos = [
    {'contato': 2899999999-123,
     'conteudo': 'blabla',
     'isGroup': False},
    {'contato': 2899789999-345,
     'conteudo': 'blabla',
     'isGroup': False}]


def spam(ctt):
    print('mensagem para', ctt['contato'], 'dizendo ', ctt['conteudo'])


for ctt in contatos:
    spam(ctt)

mensagem para 2899999876 dizendo  blabla
mensagem para 2899789654 dizendo  blabla

# Loops

In [8]:
dicio = {'a': 1, 'b': 2, 'c': 3}
for c in dicio:  # loop pelas keys, loop pelos values
    print('key=', c, 'value=', dicio[c])

key= a value= 1
key= b value= 2
key= c value= 3

In [10]:
for c in dicio.values():
    print(c)

for c in dicio.keys():
    print(c)

1
2
3
a
b
c

In [12]:
for k, v in dicio.items():
    print(k, v)

a 1
b 2
c 3

# Deletar

In [19]:
dicionario = {1: "João", 2: "Maria", 3: "José"}

In [16]:
value = dicionario.pop(1, 'Não existe')
print(value)
dicionario

Não existe

{2: 'Maria', 3: 'José'}

In [20]:
dicionario.popitem()
dicionario

{1: 'João', 2: 'Maria'}

In [21]:
dicionario.clear()
dicionario

{}

# Dicionários de listas

In [41]:
dict_list = {'estados': ['ES', 'MG', 'SP', 'RJ'],
             'populacao': [3, 5, 10, 7],
             'capital': ['Vitória', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro']}

for k, v in dict_list.items():
    print(k, v[1])

estados MG
populacao 5
capital Belo Horizonte

# Dicionarios de dicionários

In [61]:
# Teste de dicio,lista e tupla
x = ({"a": [1, 2, 3], "b": [4, 5, 60]}, {"a": [1, 2, 3], "b": [4, 5, 6]})

((x[1])["b"])[2]

6

In [67]:
y = {'a': {'b': [1, 2, 3]}}
dicionario = {'d': {'e': 3, 'f': 4},
              'a': {'c': {'g': 15}, 'b': 1}}

dicionario['a']['c']['g']

15

In [69]:
menu = {'xtudo': 20, 'xtudao': 30, 'xtudissimo': 40,
        'coca-lata': 8, 'guarana': 7, 'agua': 5}

for k, v in menu.items():
    print(k, v)

for c in lista:
    if c == 'agua':
        print(valor)
#############
menu['agua']

xtudo 20
xtudao 30
xtudissimo 40
coca-lata 8
guarana 7
agua 5

5