# Estruturas Compostas - Tupla

In [2]:
tup = (10, 11, 12, "a", 14.4, True)
type(tup)

tuple

# Slice

In [5]:
tup[0]
tup[4]
tup[1:4]

(11, 12, 'a')

# Contexto

In [8]:
nome = "Joao"
idade = 16
estado = "RJ"

pessoa = ("Joao", 16, "RJ")
pessoa[2]

'RJ'

In [ ]:
nota1 = 2
nota2 = 2
nota3 = 2
notas = (4, 5, 6, 2, 6)

# Operações

In [11]:
tup1 = (10, 11, 12)
tup2 = (20, 21, 22)

tup2 + tup1 + tup1  # concat

(20, 21, 22, 10, 11, 12, 10, 11, 12)

In [12]:
tup1 - tup2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [15]:
tup1 / tup2
tup1 * tup2

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [16]:
tup1 * 3

(10, 11, 12, 10, 11, 12, 10, 11, 12)

In [17]:
tup1 + 5

TypeError: can only concatenate tuple (not "int") to tuple

In [22]:
tup1 + (5, 8)

# type((5,))

(10, 11, 12, 5, 8)

# Imutabilidade

In [23]:
# tup1.add(tup2)

(10, 11, 12)

In [25]:
tup3 = tup1 + tup2
tup3

(10, 11, 12, 20, 21, 22)

In [27]:
# tup3[1] = 4
# Não dá pra mudar o valor dela, apenas criar novas
tup3[:1] + (4,) + tup3[2:]

(10, 4, 12, 20, 21, 22)

# Funções

In [34]:
len(tup)  # Quantidade de itens
bool(tup)
sum(tup1)

63

In [35]:
tup1.count(11)

1

In [40]:
tup2.index(22)

tup2[2]

tup2[tup2.index(22)]

2

# Loops

In [65]:
for i in tup3:
    pass  # print(i)

for i in (10, 50, 20, 40, 30, 10, 30, 20):
    ...  # print(i)

for i in range(len(tup3)):
    print(i, tup3[i])

0 10
1 11
2 12
3 20
4 21
5 22

# Exercicio

Criar uma tupla de 10 elementos e printar os elementos dela de 2 em 2, mostrando-os em tuplas
i.e.

````
>>> (1,2,3,...,10)
>>> (1,2) - (3,4) - ... - (9,10)```
````

In [51]:
tupex = tuple(range(10, 101, 10))

In [63]:
for i in range(0, len(tupex) - 1, 2):
    print(tupex[i : i + 2], end=" - ")

(10, 20) - (30, 40) - (50, 60) - (70, 80) - (90, 100) -

# Listas

In [95]:
lista = list()
lista = [10, 11, 12, 13]
type(lista)

list

# Modificação

In [100]:
lista[1] = 5
lista[3] = ['a','b']
#lista[6] = 1 #Error

lista[0:2] = [40,50]
lista[1:3] = [30,60,90] # Contra intuitivo, atenção
print(lista)

[40, 30, 60, 90, ['a', 'b']]

# Operações

In [67]:
lista1 = [10, 11, 12]
lista2 = [20, 30, 40]
lista1 + lista2

[10, 11, 12, 20, 30, 40]

In [68]:
lista1 - lista2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [69]:
lista2*lista1

TypeError: can't multiply sequence by non-int of type 'list'

In [70]:
lista2*4

[20, 30, 40, 20, 30, 40, 20, 30, 40, 20, 30, 40]

# Contexto

In [ ]:
pessoas = [('joao',13,True,'RJ'),('Maria',18,False,'ES')]

# Funções

## Adicionar

In [76]:
lista.append(6)
lista.insert(1,10)


print(lista)

[10, 10, 5, 5, 11, 12, 13, 6, 6, 6, 6, 6]

In [80]:
lista.extend(lista1)
lista.append(lista1)

lista

[10, 10, 5, 5, 11, 12, 13, 6, 6, 6, 6, 6, 10, 11, 12, 10, 11, 12, [10, 11, 12]]

In [81]:
lista = lista + lista1
lista

[10,
 10,
 5,
 5,
 11,
 12,
 13,
 6,
 6,
 6,
 6,
 6,
 10,
 11,
 12,
 10,
 11,
 12,
 [10, 11, 12],
 10,
 11,
 12]

In [91]:
x = lista2
x.extend(tup1)
x

[20, 30, 40, 10, 11, 12]

## Deleção

In [118]:
lista = lista1*5
lista

[10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12]

In [107]:
lista.pop() # Deleta o elemento no index

print(lista)

IndexError: pop from empty list

In [117]:
lista.remove(11)
lista

ValueError: list.remove(x): x not in list

In [119]:
print(lista)
del lista[2]
print(lista)

[10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12]
[10, 11, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12]

# Organização

In [126]:
lista = lista2*3
lista

[20, 30, 40, 10, 11, 12, 20, 30, 40, 10, 11, 12, 20, 30, 40, 10, 11, 12]

In [132]:
lista.sort(reverse=True)
lista

[40, 40, 40, 30, 30, 30, 20, 20, 20, 12, 12, 12, 11, 11, 11, 10, 10, 10]

In [131]:
lista4 = sorted(lista,reverse=True)
lista4

[40, 40, 40, 30, 30, 30, 20, 20, 20, 12, 12, 12, 11, 11, 11, 10, 10, 10]

In [133]:
lista4.reverse()
print(lista4)

lista = lista[::-1]

[10, 10, 10, 11, 11, 11, 12, 12, 12, 20, 20, 20, 30, 30, 30, 40, 40, 40]

# Ponteiro

In [136]:
a = [1,2]
b = a.copy()
b[1] = 5
print(a)
print(b)

[1, 2]
[1, 5]

In [137]:
a = [1,2]
b = a[:]
b[1] = 5
print(a)
print(b)

[1, 2]
[1, 5]

In [152]:
w = [[1,2],[3,4]]
(w[0])[1]
z = [[1,2,3,[5,6],7],
     [10,20,[30,40]]]

v = w.copy()

v[1][0] = 10
print(v)
print(w)

[[1, 2], [10, 4]]
[[1, 2], [10, 4]]

# Exercicio

Crie uma função que retorne uma lista aleatoria com tamanho definido pela entrada da função.

In [ ]:
import random
def gerar_numeros(n):
    lista = []
    for _ in range(n):
        lista.append(random.randint(0,100))
    return lista

Crie um contador customizável

In [ ]:
def contador(start,stop,step=1,delay=0.1,frase="Fim"):
    for c in range(start,stop,step):
        print(c)
        time.sleep(delay)
    
    print(frase)

contador(1,10)

Escrever um programa que gere n valores e conte quantos deles estão no intervalo [j,k] e quantos deles estão fora do intervalo, escrevendo estas informações ao final. Obs: n,j,k são valores arbitrários.

[2, 0]

# Swap

In [6]:
x = [10,11,12]
#[12,11,10]
aux = x[0]
x[0] = x[2]
x[2] = aux

x

[12, 11, 10]

In [7]:
w = [10,11,12]

w[0],w[1] = w[1],w[0]
w

[11, 10, 12]

# Sort

In [ ]:
# Bruto

x=[5,8,10]

x1 = [3,4,5,8,10]



r = [1,2...] # Vou preencher primeiro com o menor valor de x. E apagar esse valor

In [ ]:
# Bubblesort

x=[5,3,8,10,4]

# Loopa a lista trocando as posições de forma q o menor de cada par fique à esquerda.
#1ª iter
x=[3,5,8,10,4]
x=[3,5,8,10,4]
x=[3,5,8,10,4]
x=[3,5,8,4,10]

x=[3,5,8,4,10]
x=[3,5,8,4,10]
x=[3,5,4,8,10]
x=[3,5,4,8,10]

x=[3,4,5,8,10]
...

y = [11,5,8,10,4]
y = [5,11,8,10,4]
y = [5,8,11,10,4]
y = [5,8,10,11,4]
y = [5,8,10,4,11]

# List comprehension

In [15]:
lista = []
for i in range(0,11,2):
    lista.append(i)
print(lista)

lista = [i for i in range(0,11,2)] + [4,5,2*2]

[0, 2, 4, 6, 8, 10]

## If inline

In [ ]:
a,b = 2,4

j = 1 if a>b else 2

if a>b:
    j=1
else:
    j=2

## Comprehension com If

In [20]:
lista = []
for c in range(20):
    if c%2==0:
        lista.append(c)
    else:
        lista.append(0)
print(lista)

lista = [c if c%2==0 or c%5==0 else (c if c%5==0 else 0) for c in range(20)]
lista

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 12, 0, 14, 0, 16, 0, 18, 0]

[0, 0, 2, 0, 4, 5, 6, 0, 8, 0, 10, 0, 12, 0, 14, 15, 16, 0, 18, 0]

In [18]:
lista2 = [c for c in range(20) if c%3==0]

lista2

[0, 3, 6, 9, 12, 15, 18]

In [19]:
def funcao(v):
    return v*3+5

lista3 = [funcao(a) for a in range(10)]

lista3

[5, 8, 11, 14, 17, 20, 23, 26, 29, 32]

# Matrizes

In [23]:
#l = [10,11,[12,[13,14],15],16] # Testezinho
mat = [[1,2],
       [3,4]]

3

# Criação

In [31]:
mat = []
lista = [] # *5

'''for c in range(5):
    lista.append(0)
for c in range(5):
    mat.append(lista.copy())'''

'''for i in range(5):
    l = []
    for j in range(5):
        l.append(0)
    mat.append(l.copy())'''

'''for _ in range(5):
    mat.append([0]*5)'''

mat = [[0]*5 for _ in range(5)]

print(mat)


#mat = [0]*10
#mat

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

## Preenchimento

In [3]:
# Crie uma matriz 5x5, que seus valores sejam uma sequencia de 0 a 24

mat = []
dentro = []
#d=0
for i in range(5):
    dentro.clear()
    for j in range(5):
        if i>=1:
            dentro.append(mat[i-1][-1]+j+1)
        else:
            dentro.append(j)

    mat.append(dentro[:])

#mat = [[j for i in range(5)] for j in range(5)]
mat

[[0, 1, 2, 3, 4],
 [5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14],
 [15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24]]

In [1]:
mat = [[mat[i-1][-1] + j + 1 if i >= 1 else j for j in range(5)] for i in range(5)]
mat

NameError: name 'mat' is not defined

## Exibição

In [59]:
for l in mat:
    print(l)

for l in mat:
    print(' '.join([str(x) for x in l]))


'''1 2 3 4     5
2 4 6  8   10
3 6 9 12   15
4 8 12 16  20
5 10 15 20 25'''

f'{10:<10}'
f'{10:>10}'

f'{10:^10}'
'10'.center(10)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]
[4, 8, 12, 16, 20]
[5, 10, 15, 20, 25]
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

'    10    '

## Pesquisa

In [4]:
mat

[[0, 1, 2, 3, 4],
 [5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14],
 [15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24]]

In [6]:
# Existe tal valor na matriz?
encontrado = False
valor_procurado = 16
for row in mat: #Lista dentro da lista
    
    print(row)
    print('loop')
    if valor_procurado in row:
        #encontrado = True
        print('existe')
        break
    '''for col in row: #numeros dentro da lista interna
        if col == 16:
            encontrado = True
            print('existe')
            break
    if encontrado:
        break'''
    # Para o loop caso encontre o valor

# Como parar o for de fora assim que encontrar o valor?

[0, 1, 2, 3, 4]
loop
[5, 6, 7, 8, 9]
loop
[10, 11, 12, 13, 14]
loop
[15, 16, 17, 18, 19]
loop
existe

In [8]:
20 in [10,11,12]

False

# Exercicio

In [13]:
def zeros(linhas, colunas):
    lista = []
    for _ in range(linhas):
        linha = [0]*colunas
        #for _ in range(colunas):
        #    linha.append(0)
        lista.append(linha)
    return lista

matriz = zeros(4,6)
for c in matriz:
    print(c)

[0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0]

Ler um conjunto de numeros reais, armazenando-o em vetor e calcular o quadrado das componentes deste vetor, armazenando o resultado em outro vetor. Os conjuntos tem 10 elementos cada. Imprimir todos os conjuntos.

Ler um numero dez vezes

Salvar numa lista

Calcular o quadrado de cada numero

Salvar os quadrados em uma nova lista

Exibir tudo

In [10]:
import random
numeros = [random.uniform(0,100) for _ in range(10)]
quadrados = [n**2 for n in numeros]
print(numeros)
print(quadrados)

[34.57593312139456, 65.79911606373969, 61.15547524978856, 4.568288546641086, 5.269915252723834, 19.403969822576006, 27.210409858652305, 72.5100086902136, 71.45203077734595, 15.255859450330044]
[1195.4951512151495, 4329.523674769486, 3739.992153027501, 20.869260245372125, 27.772006770891313, 376.5140448754403, 740.4064046758425, 5257.701360254851, 5105.392702206794, 232.74124756822454]

# Zip

In [24]:
tup = (1,2,3,4,6,7,8,4)
a,*f,b,oito = tup
b
print(f)
def soma(*args):
    print(args)

soma(1,2,3,4,5,6)

[2, 3, 4, 6, 7]
(1, 2, 3, 4, 5, 6)

In [27]:
lista1 = [1,2,3]
lista2 = [4,5,6]
lista3 = [7,8,9]
for i in range(3):
    print(lista1[i],lista2[i],lista3[i])
print(tuple(zip(lista1,lista2,lista3)))

#a,b,c = (lista1[4],lista2[4],lista3[4])
for a,b,c in zip(lista1,lista2,lista3):
    print(f'{a} {b} {c}')

1 4 7
2 5 8
3 6 9
((1, 4, 7), (2, 5, 8), (3, 6, 9))
1 4 7
2 5 8
3 6 9

# Enumerate

In [31]:
ele = [10,11,12]
list(enumerate(ele))
for i in range(len(ele)):
    print(i,ele[i])

for i,v in enumerate(ele):
    print(i,v)

0 10
1 11
2 12
0 10
1 11
2 12