# Estruturas Compostas - Tupla

In [2]:
tup = (10, 11, 12, "a", 14.4, True)
type(tup)

tuple

# Slice

In [5]:
tup[0]
tup[4]
tup[1:4]

(11, 12, 'a')

# Contexto

In [8]:
nome = "Joao"
idade = 16
estado = "RJ"

pessoa = ("Joao", 16, "RJ")
pessoa[2]

'RJ'

In [ ]:
nota1 = 2
nota2 = 2
nota3 = 2
notas = (4, 5, 6, 2, 6)

# Operações

In [11]:
tup1 = (10, 11, 12)
tup2 = (20, 21, 22)

tup2 + tup1 + tup1  # concat

(20, 21, 22, 10, 11, 12, 10, 11, 12)

In [12]:
tup1 - tup2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [15]:
tup1 / tup2
tup1 * tup2

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [16]:
tup1 * 3

(10, 11, 12, 10, 11, 12, 10, 11, 12)

In [17]:
tup1 + 5

TypeError: can only concatenate tuple (not "int") to tuple

In [22]:
tup1 + (5, 8)

# type((5,))

(10, 11, 12, 5, 8)

# Imutabilidade

In [23]:
# tup1.add(tup2)

(10, 11, 12)

In [25]:
tup3 = tup1 + tup2
tup3

(10, 11, 12, 20, 21, 22)

In [27]:
# tup3[1] = 4
# Não dá pra mudar o valor dela, apenas criar novas
tup3[:1] + (4,) + tup3[2:]

(10, 4, 12, 20, 21, 22)

# Funções

In [34]:
len(tup)  # Quantidade de itens
bool(tup)
sum(tup1)

63

In [35]:
tup1.count(11)

1

In [40]:
tup2.index(22)

tup2[2]

tup2[tup2.index(22)]

2

# Loops

In [65]:
for i in tup3:
    pass  # print(i)

for i in (10, 50, 20, 40, 30, 10, 30, 20):
    ...  # print(i)

for i in range(len(tup3)):
    print(i, tup3[i])

0 10
1 11
2 12
3 20
4 21
5 22

# Exercicio

Criar uma tupla de 10 elementos e printar os elementos dela de 2 em 2, mostrando-os em tuplas
i.e.

````
>>> (1,2,3,...,10)
>>> (1,2) - (3,4) - ... - (9,10)```
````

In [51]:
tupex = tuple(range(10, 101, 10))

In [63]:
for i in range(0, len(tupex) - 1, 2):
    print(tupex[i : i + 2], end=" - ")

(10, 20) - (30, 40) - (50, 60) - (70, 80) - (90, 100) -

# Listas

In [95]:
lista = list()
lista = [10, 11, 12, 13]
type(lista)

list

# Modificação

In [100]:
lista[1] = 5
lista[3] = ['a','b']
#lista[6] = 1 #Error

lista[0:2] = [40,50]
lista[1:3] = [30,60,90] # Contra intuitivo, atenção
print(lista)

[40, 30, 60, 90, ['a', 'b']]

# Operações

In [67]:
lista1 = [10, 11, 12]
lista2 = [20, 30, 40]
lista1 + lista2

[10, 11, 12, 20, 30, 40]

In [68]:
lista1 - lista2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [69]:
lista2*lista1

TypeError: can't multiply sequence by non-int of type 'list'

In [70]:
lista2*4

[20, 30, 40, 20, 30, 40, 20, 30, 40, 20, 30, 40]

# Contexto

In [ ]:
pessoas = [('joao',13,True,'RJ'),('Maria',18,False,'ES')]

# Funções

## Adicionar

In [76]:
lista.append(6)
lista.insert(1,10)


print(lista)

[10, 10, 5, 5, 11, 12, 13, 6, 6, 6, 6, 6]

In [80]:
lista.extend(lista1)
lista.append(lista1)

lista

[10, 10, 5, 5, 11, 12, 13, 6, 6, 6, 6, 6, 10, 11, 12, 10, 11, 12, [10, 11, 12]]

In [81]:
lista = lista + lista1
lista

[10,
 10,
 5,
 5,
 11,
 12,
 13,
 6,
 6,
 6,
 6,
 6,
 10,
 11,
 12,
 10,
 11,
 12,
 [10, 11, 12],
 10,
 11,
 12]

In [91]:
x = lista2
x.extend(tup1)
x

[20, 30, 40, 10, 11, 12]

## Deleção

In [118]:
lista = lista1*5
lista

[10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12]

In [107]:
lista.pop() # Deleta o elemento no index

print(lista)

IndexError: pop from empty list

In [117]:
lista.remove(11)
lista

ValueError: list.remove(x): x not in list

In [119]:
print(lista)
del lista[2]
print(lista)

[10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12]
[10, 11, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12]

# Organização

In [126]:
lista = lista2*3
lista

[20, 30, 40, 10, 11, 12, 20, 30, 40, 10, 11, 12, 20, 30, 40, 10, 11, 12]

In [132]:
lista.sort(reverse=True)
lista

[40, 40, 40, 30, 30, 30, 20, 20, 20, 12, 12, 12, 11, 11, 11, 10, 10, 10]

In [131]:
lista4 = sorted(lista,reverse=True)
lista4

[40, 40, 40, 30, 30, 30, 20, 20, 20, 12, 12, 12, 11, 11, 11, 10, 10, 10]

In [133]:
lista4.reverse()
print(lista4)

lista = lista[::-1]

[10, 10, 10, 11, 11, 11, 12, 12, 12, 20, 20, 20, 30, 30, 30, 40, 40, 40]

# Ponteiro

In [136]:
a = [1,2]
b = a.copy()
b[1] = 5
print(a)
print(b)

[1, 2]
[1, 5]

In [137]:
a = [1,2]
b = a[:]
b[1] = 5
print(a)
print(b)

[1, 2]
[1, 5]

In [152]:
w = [[1,2],[3,4]]
(w[0])[1]
z = [[1,2,3,[5,6],7],
     [10,20,[30,40]]]

v = w.copy()

v[1][0] = 10
print(v)
print(w)

[[1, 2], [10, 4]]
[[1, 2], [10, 4]]

# Exercicio

Crie uma função que retorne uma lista aleatoria com tamanho definido pela entrada da função.

In [ ]:
import random
def gerar_numeros(n):
    lista = []
    for _ in range(n):
        lista.append(random.randint(0,100))
    return lista

Crie um contador customizável

In [ ]:
def contador(start,stop,step=1,delay=0.1,frase="Fim"):
    for c in range(start,stop,step):
        print(c)
        time.sleep(delay)
    
    print(frase)

contador(1,10)

Escrever um programa que gere n valores e conte quantos deles estão no intervalo [j,k] e quantos deles estão fora do intervalo, escrevendo estas informações ao final. Obs: n,j,k são valores arbitrários.

[2, 0]