In [11]:
x = 'abc'
y = str(456)
y

'456'

# Operações

In [15]:
x+y
y+x
x*3
#x*y # error
#x-y # error
print('abc')
print('='*100)
igual = '='*100
print('def')
len(igual)

abc
====================================================================================================
def

100

# Caracteres especiais

In [19]:
txt = 'abc'*10 + '\n'*3 + "def"*10
print(txt)

abcabcabcabcabcabcabcabcabcabc


defdefdefdefdefdefdefdefdefdef

In [26]:
txt2 = 'di\nre\tito'
print(txt2)
txt3 = 'ele disse "[...]"'
txt3

di
re	ito

'ele disse "[...]"'

# Methods

In [30]:
txt4 = 'lorem ipsum'
txt5 = 'SDFIKHSDFUIHSDHFJKLSKDFHJ'
txt4.upper()
txt4.title()
txt4.capitalize()
txt5.lower()

'sdfikhsdfuihsdhfjklskdfhj'

In [5]:
txt6 = 'maria tem uma boneca'
len(txt6.split())
#txt6.index('z',2)
txt6.find('a')
txt6.rfind('a',2,10)

4

In [7]:
txt6.replace('maria','joao')
txt6 = txt6.replace('a','o').upper().lower().capitalize()

'morio tem umo boneco'

In [13]:
txt7 = 'abc'
txt7.center(10,'-')
txt7.ljust(10,'-')

'abc-------'

## Is any

In [16]:
txt6
txt6.isupper()
txt6.islower()

True

# Print

In [27]:
print(10,'é par',1.6, 'é quebrado',end='==\t==',sep='----')
print('algumacoisa')

10----é par----1.6----é quebrado==	==algumacoisa

# Slices

In [51]:
txt6 = 'abcdefghijk'
#0123
    #-3 -2 -1
txt6[1]
txt6[4]
len(txt6)
txt6[len(txt6)-1]
txt6[-1]
txt6[-5]
txt6[1:4] # ultimo valor n entra
txt6[0:-2] # tudo menos os dois ultimos
txt6[0:]
txt6[0::2]
txt6[1:5:-1]

''

# f-string

In [67]:
dinheiro=5
y=3
z=2.0345
#fstring commands
print('x é',x,'y é',y)
print(f'x é {x}, y é {y}')
print(f'{z:.2f}')
print(f'{dinheiro=} reais')
print(f'{123:>10}')
print(f'{123:<10} espacos')
print(f'{4:b}')

x é 5 y é 3
x é 5, y é 3
2.03
dinheiro=5 reais
       123
123        espacos
100

# In

In [74]:
'a' in 'jorge'
'a' in 'joão'
'espirito' in 'espírito santo'

False