IDE => interface de programação

- `.py` -> script
- `ipynb` => ipynotebook
- `terminal` porém não salva

In [ ]:
nome = 'Joao' # string. Aspas simples ou dupla
idade = 15 # int
nota = 6.7 #float 
numero = 1.0
type(numero)

int

## Transformações

In [11]:
quebrado = 7.5
inteiro = int(quebrado)
inteiro

7

In [12]:
novo_quebrado = float(inteiro)
novo_quebrado

7.0

In [14]:
txt_quebrado = str(quebrado)
txt_quebrado

'7.5'

In [16]:
txt_inteiro = str(inteiro)
txt_inteiro

'7'

In [19]:
print(str(True))
print(str(False))

True
False

In [23]:
int('8')
int('8.0')

ValueError: invalid literal for int() with base 10: '8.0'

In [22]:
float('10.5')
float('10,5')

ValueError: could not convert string to float: '10,5'

In [ ]:
# O case faz diferença
num = 7
Num = 8
num == Num

False

# Matemática

## operações

In [16]:
5+5

10

In [18]:
print(5.5-2.5)
5.5-2

3.0

3.5

In [19]:
5*2.3

11.5

In [20]:
5/2

2.5

In [24]:
divisao_inteira = 10//3
type(divisao_inteira)

int

In [23]:
5%2 #resto da divisão

1

In [ ]:
2**3

# 2^3 # chapéu é o operador booleano XOR

8

In [26]:
(5+5)*2 == 20
5+5*2 == 15

True

# Booleanos

## Operadores lógicos

In [ ]:
# a ^ b # xor

#(not a and b) or (a and not b)

In [ ]:
verdadeiro = True
falso = False

a = True
b = True

a and b # Dá True somente se os dois forem True, se não, resulta em False

True

In [ ]:
c = True
d = True

c or d

True

In [12]:
print(True or False)
print(False or False)

True
False

## Not

In [15]:
not False # Inverte o booleano

True

## Comparadores

In [2]:
x = 6
y = 5.01

x>y

True

In [3]:
x<y

False

In [5]:
x>=y
5>=5

True

In [7]:
y+1<=x

False

In [8]:
x=5
y=5
x==y

True

In [9]:
x!=y

False

## Exemplos

In [10]:
(True and False) and (True or False)
#True and False
#True

#False and True
#False

False

In [ ]:
not True or (not False and True)
False or True
True

# Import math

In [29]:
import math
from math import sqrt,pi

In [26]:
math.log(5)
math.log10(10)

1.0

In [ ]:
sqrt(16) # square root

4.0

In [30]:
pi

3.141592653589793

In [31]:
math.e

2.718281828459045

In [32]:
math.ceil(7.2)

8

In [33]:
math.floor(7.9999)

7

# Random

In [130]:
import random
random.seed(2)

In [133]:
random.random()

0.05655136772680869

In [83]:
random.randint(1,10)

10

In [117]:
random.uniform(1,10)

1.3179734844388373

# String

## Print

In [134]:
a = 1
b = True
c = 3.3
d = 'Olá'
print(a,b,c,d)

1 True 3.3 Olá

In [146]:
print('Olá','Mundo',end='\n\n')
print('Tchau mundo')

Olá Mundo

Tchau mundo

In [142]:
print("Cade\nmeu\nmu\tndo")

Cade
meu
mu	ndo

In [145]:
print(a,b,c,d,sep='\t')

1	True	3.3	Olá

## Operações

In [ ]:
txt1 = 'Olá'
txt2 = 'Mundo'
txt1+txt2 # concatenação

'OláMundo'

In [148]:
txt1-txt2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [149]:
txt1*txt2

TypeError: can't multiply sequence by non-int of type 'str'

In [150]:
txt1/txt2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [151]:
txt1*5

'OláOláOláOláOlá'

In [152]:
print('Resposta 1')
print('='*100)
print('Resposta 2')

Resposta 1
====================================================================================================
Resposta 2

## Métodos(funções)

In [ ]:
#txt1 = txt1.upper() # sem redefinir, a variavel não é alterada

'OLÁ'

In [154]:
txt2.lower()

'mundo'

In [156]:
txt3 = "Bananeira DA BAnaNA"

txt3.capitalize()

'Bananeira da banana'

In [ ]:
txt3.title() # 1ª de cada palavra maiscula

'Bananeira Da Banana'

In [159]:
entrada_do_usuario = '    Joao   '

entrada_do_usuario.strip()

'Joao'

In [164]:
txt3.lower().replace("na",'JJJ')

'baJJJneira da baJJJJJJ'

In [161]:
"Joao é 'capixaba'"

"Joao é 'capixaba'"

In [162]:
'Joao é \'capixaba\''

"Joao é 'capixaba'"

In [171]:
txt3

'Bananeira DA BAnaNA'

In [175]:
textinho = 'ne'
txt3.count(textinho)

1

In [ ]:
txt3.count('BA') # Quantos BA tem em txt3

## f-string

In [165]:
x=3
y=4
w = True

In [169]:
print('O valor de x é',x,'. O valor de y é',y,'. O valor de w é',w)

print(f'O valor de x é {x}. O valor de y é {y}. O valor de w é {w}')

abc = 123

O valor de x é 3 . O valor de y é 4 . O valor de w é True
O valor de x é 3. O valor de y é 4. O valor de w é True

In [170]:
print(f'O valor de {x=}. O valor de {y=}. O valor de {w=}')

O valor de x=3. O valor de y=4. O valor de w=True